---
// src/pages/personal.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Personal | Fred Kernot">
  <h1>Personal Space</h1>
  <p>This is where other achievements will live that don't relate to specifically to coding.</p>
  <p><em>Stub page - content coming soon!</em></p>
</BaseLayout>